.App {
  text-align: center;
}
.coo{
  border:2px solid black;
}
.cc{
  color: white;
  height: 40px;
  box-shadow: 4px 8px 16px whitesmoke;
  border-radius: 18px;
}
.lod{
  color: white;
  margin-top: 20%;
}
.ii{
  
  border: 1px solid rgba(121,59,255);
  border-radius: none;
  overflow: hidden;
}
.ig{
  box-shadow: 4px 8px 16px black;
}


.ss{
  background-color:rgb(38,139,255 );
  color: white;
  border-radius: 5px;
  height: 34px;
}
@media screen and(max-width:992px){
  span{
    display: block;
  }
  
}